/*!---------FONTS----------*/
@import "https://fonts.cdnfonts.com/css/nue-gothic";
/*!----------RESET-----------*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Nue Gothic', sans-serif; }

header {
  background-color: black; }
  header ul li a {
    font-size: 25px; }

nav {
  background-color: black; }
  nav ul li a {
    font-size: 25px; }

/*!---------HERO----------*/
.hero {
  text-align: center;
  width: 100%;
  height: 400px;
  background: url("../img/background-hero.jpeg") no-repeat center;
  background-size: cover;
  background-attachment: fixed;
  color: white; }
  .hero h2 {
    font-size: 70px;
    padding-top: 15px; }
  .hero p {
    margin: 25px;
    font-size: 25px;
    padding: 0px 50px 10px 50px; }
  .hero a {
    text-decoration: none;
    background-color: black;
    color: white;
    padding: 10px 15px;
    font-size: 25px; }

/*!---------INSTAGRAM----------*/
.instagram {
  display: flex;
  flex-flow: column;
  justify-content: center;
  width: 100%;
  margin: 0 auto; }
  .instagram h2 {
    font-size: 45px;
    text-align: center; }
    .instagram h2 a {
      text-decoration: none;
      color: black; }
  .instagram .container {
    padding: 5px; }
  .instagram img {
    width: 100%; }

#carta {
  width: 100%;
  margin: 35px auto;
  padding: 1em; }
  #carta .carta-info {
    width: 100%;
    padding-top: 4em;
    margin-bottom: 2em;
    text-align: center; }
    #carta .carta-info h1 {
      font-size: 4rem;
      margin-bottom: .2em; }
  #carta h2 {
    margin-bottom: 1em;
    text-align: center;
    font-size: 2rem;
    color: black; }
  #carta .foods {
    display: flex;
    flex-flow: column;
    justify-content: center;
    width: 80%;
    margin: 0 auto; }
    #carta .foods__img {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 3em;
      background: #fff;
      box-shadow: 0px 8px 24px 5px rgba(0, 0, 0, 0.45); }
      #carta .foods__img img {
        width: 50%; }
      #carta .foods__img .foods__info {
        width: 50%; }
        #carta .foods__img .foods__info p {
          margin-bottom: .5em;
          padding: 0 .1em;
          font-size: 0.96rem;
          font-weight: 500;
          text-align: center;
          line-height: 1.1em; }
        #carta .foods__img .foods__info .price {
          margin: none;
          padding: none;
          font-weight: 700;
          color: #007200; }

#delivery {
  width: 100%;
  padding: 1em;
  margin: 35px auto; }
  #delivery .title-container {
    width: 100%; }
  #delivery .soon {
    display: flex;
    flex-flow: column;
    align-items: center;
    padding-top: 4em;
    margin-bottom: 3em; }
    #delivery .soon h1 {
      margin-bottom: 1em;
      text-align: center;
      font-size: 2rem; }
    #delivery .soon img {
      width: 25%;
      border-radius: 1em; }
  #delivery .now {
    width: 100%; }
    #delivery .now p {
      text-align: center;
      font-size: 1.28rem;
      color: #111111; }
    #delivery .now__phones a {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: .7em 1em;
      text-decoration: none;
      background-color: black;
      color: #f1f1f1;
      border-radius: 1em;
      font-size: 0.8rem; }
      #delivery .now__phones a img {
        width: 2.5em;
        height: 2.5em; }
    #delivery .now__phones p {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: .7em 1em;
      margin: 1em 0;
      font-size: 0.8rem;
      font-weight: 600;
      background-color: #f1f1f1;
      color: #000;
      border-radius: 1em; }
      #delivery .now__phones p img {
        width: 2.2em;
        height: 2.2em; }
  #delivery .business-hours {
    width: 100%;
    margin: 2em 0;
    padding: .5em;
    background: rgba(0, 0, 0, 0.1);
    border-radius: 1em;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center; }
    #delivery .business-hours__title {
      width: 90%;
      display: flex;
      place-items: center;
      justify-content: center;
      border-bottom: 1px solid rgba(0, 0, 0, 0.3); }
      #delivery .business-hours__title img {
        width: 2em;
        height: 2em;
        margin-bottom: .5em;
        padding-right: 5px; }
      #delivery .business-hours__title h2 {
        font-size: 1.2rem;
        align-items: center; }
    #delivery .business-hours p {
      margin: 1em 0;
      text-align: center; }
      #delivery .business-hours p:last-of-type {
        margin: 0; }

#contacto .form-container {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  width: 90%;
  margin: 15px auto;
  padding: 6em 0 1em; }
  #contacto .form-container .form-container__title {
    text-align: center; }
    #contacto .form-container .form-container__title h1 {
      font-size: 2.5rem;
      font-weight: 800; }
  #contacto .form-container .form-container__form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    margin: 1em auto; }
    #contacto .form-container .form-container__form input, #contacto .form-container .form-container__form select, #contacto .form-container .form-container__form textarea {
      width: 100%;
      margin-bottom: 2em;
      font-family: inherit; }
    #contacto .form-container .form-container__form input[type="text"],
    #contacto .form-container .form-container__form input[type="mail"],
    #contacto .form-container .form-container__form textarea {
      overflow: hidden;
      padding: 1em 1em .5em 0;
      background: none;
      border: none;
      border-bottom: 1px solid black;
      text-align: left;
      font-size: 0.72727rem; }
    #contacto .form-container .form-container__form select {
      padding: .5em;
      background: none;
      border: 1px solid black; }
      #contacto .form-container .form-container__form select option {
        text-align: center; }
    #contacto .form-container .form-container__form textarea {
      resize: none;
      width: 100%;
      height: 3em; }
    #contacto .form-container .form-container__form input[type="submit"] {
      width: 50%;
      padding: .7em 1em;
      font-size: 0.96rem;
      font-weight: 600;
      text-transform: uppercase;
      background: black;
      border: none;
      cursor: pointer;
      color: #f1f1f1; }

footer {
  background-color: black;
  display: flex;
  justify-content: space-between;
  align-items: center; }
  footer div {
    justify-content: space-between;
    align-items: center; }
    footer div p {
      color: white; }
  footer i {
    font-size: 32px;
    justify-content: space-evenly;
    padding: 8px; }
  footer img {
    width: 8%; }
