/*!--------RESET-----------!*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nue Gothic', sans-serif;;
}

/*!---------Header----------!*/
header{
    background-color: black;
}

header h1{
    font-size: 65px;
    color: white;
    padding: 10px;
}

header nav ul{
    list-style: none;
}

header nav ul li a{
    text-decoration: none;
    color: white;
}
