// Tamaño de Fuentes

$fsz: 2rem;
$fsz-small: .8rem;
$fsz-big: 2.5rem;

// Paleta de colores

$bgcolor: #FEFAE0;
$lightgreen: #70e000;
$darkgreen: #007200;
$lightgold: #DDA15E;
$lightblack: #111111;
$whitecustom: #f1f1f1;
$black: black;